<div class="list-group">
                        <a class="list-group-item active">{$info.title}</a>
                        <div class="list-group-item bg-protect">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="pull-left"><img class="media-def" src="__ROOT__/{$path}"/></a>
                                    <p>
                                        {$info.description}
                                    </p>
                                        <a class="btn pull-right" href="{:U("Article/detail?id=$info[id]")}">查看更多 »</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>