<extend name="Base/common"/>
<block name="sliderShow">
</block>
<block name="main">
    <div class="row main">
        <div class="col-md-3">
            {:W('Category/lists', array($category['id'],1))}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <ul>
                        <article:list name="article" category="$_GET['category']" child="true">
                            <li class="textlist1" style="list-style-type:none;">
                            <a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a><span class="badge pull-right">{$article.create_time|date='Y-m-d',###}</span>
                        </li>
                        </article:list>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page">
                                    {$_page}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</block>