<extend name="Base/common"/>
<block name="main">
    <div class="row main">
        <div class="col-md-3">
            {:W('Category/lists', array($category['id'], ACTION_NAME == 'index'))}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a  href="#"><img alt="" src="__IMG__/wxh.jpg" width="160" height="200"></a>
                                <div class="caption">
                                    <a href="#" class="btn" type="button"><h4>2015级硕士&nbsp; 王小红</h4></a>
                                    <p>
                                        简介简介简介简介简介简介简介简介简介简介简介简介<a href="#" class="btn" type="button">更多>></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a  href="#"><img alt="" src="__IMG__/wxh.jpg" width="160" height="200"></a>
                                <div class="caption">
                                    <a href="#" class="btn" type="button"><h4>2015级硕士&nbsp; 王小红</h4></a>
                                    <p>
                                        简介简介简介简介简介简介简介简介简介简介简介简介<a href="#" class="btn" type="button">更多>></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a  href="#"><img alt="" src="__IMG__/wxh.jpg" width="160" height="200"></a>
                                <div class="caption">
                                    <a href="#" class="btn" type="button"><h4>2015级硕士&nbsp; 王小红</h4></a>
                                    <p>
                                        简介简介简介简介简介简介简介简介简介简介简介简介<a href="#" class="btn" type="button">更多>></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a  href="#"><img alt="" src="__IMG__/wxh.jpg" width="160" height="200"></a>
                                <div class="caption">
                                    <a href="#" class="btn" type="button"><h4>2015级硕士&nbsp; 王小红</h4></a>
                                    <p>
                                        简介简介简介简介简介简介简介简介简介简介简介简介<a href="#" class="btn" type="button">更多>></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a  href="#"><img alt="" src="__IMG__/wxh.jpg" width="160" height="200"></a>
                                <div class="caption">
                                    <a href="#" class="btn" type="button"><h4>2015级硕士&nbsp; 王小红</h4></a>
                                    <p>
                                        简介简介简介简介简介简介简介简介简介简介简介简介<a href="#" class="btn" type="button">更多>></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a  href="#"><img alt="" src="__IMG__/wxh.jpg" width="160" height="200"></a>
                                <div class="caption">
                                    <a href="#" class="btn" type="button"><h4>2015级硕士&nbsp; 王小红</h4></a>
                                    <p>
                                        简介简介简介简介简介简介简介简介简介简介简介简介<a href="#" class="btn" type="button">更多>></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination pull-right">
                                <li>
                                    <a href="#">上一页</a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">下一页</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</block>