<extend name="Base/common"/>
<block name="main">
    <div class="row main">
        <div class="col-md-3">
            {:W('Category/lists', array($category['id'],1))}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <article:list name="value" category="$_GET['category']" child="true">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a  href="{:U('Article/detail?id='.$value['id'])}"><img alt="" src="__ROOT__/{:W('Picture/getPictureUrlById',array($value['cover_id']))}"></a>
                                <div class="caption">
                                    <a href="{:U('Article/detail?id='.$value['id'])}" class="btn" type="button"><h4>{$value.title}</h4></a>
                                    <p>
                                        {$value.description}<a href='{:U('Article/detail?id='.$value['id'])}' class="btn" type="button">更多>></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </article:list>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page pull-right">
                                {$_page}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</block>