<extend name="Base/common"/>
<block name="main">
{:W('Picture/getPictureUrl', array(69))}
	<div class="row">
		<div class="col-md-12">
			<div class="row list-define">
                <div class="col-md-8">
                    <div class="list-group">
                        <a class="list-group-item active">实验室简介</a>
                        <div class="list-group-item bg-protect">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="pull-left"><img class="media-def" src="__IMG__/media-1.jpg"/></a>
                                    <p>
                                        河北工业大学氮 化硼材料研究中心依托材料物理与化学国家重点学科和“河北省微纳尺度氮化硼材料研究重点实验室”，致力于氮化硼基新材料的绿色合成、性能探索以及应用开发 的基础理论和实验研究。中心现有专业科研人员12人，其中教授 5 人。研究涉及氮化硼基导热绝缘聚合物、微纳结构氮化硼、新型吸附材料、新型非稀土发光材料、立方氮化硼材料、吸透波材料等方向。拥有完善的用于氮化硼材料 合成和检测设备。
                                    </p>
                                    <p>
                                        <a class="btn pull-right" href="#">查看更多 »</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div class="col-md-4">
                    <div class="list-group">
                        <a class="list-group-item active">新闻通知</a>
                        <div class="bg-list">
                            <div class="list-group-item">
                                <a href="#">通知公告通知公告通知公告</a><span class="badge pull-right">2015.08.01</span>
                            </div>
                            <div class="list-group-item">
                                <a href="#">通知公告通知公告通知公告</a><span class="badge pull-right">2015.08.01</span>
                            </div>
                            <div class="list-group-item">
                                <a href="#">通知公告通知公告通知公告</a><span class="badge pull-right">2015.08.01</span>
                            </div>
                            <div class="list-group-item">
                                <a href="#">通知公告通知公告通知公告</a><span class="badge pull-right">2015.08.01</span>
                            </div>
                            <div class="list-group-item">
                                <a href="#">通知公告通知公告通知公告</a><span class="badge pull-right">2015.08.01</span>
                            </div>
                            <div class="list-group-item">
                                <a href="#">通知公告通知公告通知公告</a><span class="badge pull-right">2015.08.01</span>
                            </div>
                            <div class="list-group-item">
                                <a href="#">通知公告通知公告通知公告</a><span class="badge pull-right">2015.08.01</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</block>